# Opt

***Problem statement***

*Given a fixed amount of avliable resources, optimise allocation to maximise returns across a set of products with variable returns*

Refs:
- https://towardsdatascience.com/optimization-with-python-how-to-make-the-most-amount-of-money-with-the-least-amount-of-risk-1ebebf5b2f29
- https://colab.research.google.com/github/cvxgrp/cvx_short_course/blob/master/applications/portfolio_optimization.ipynb
- https://insightr.wordpress.com/2017/08/27/pricing-optimization-how-to-find-the-price-that-maximizes-your-profit/
- http://riskdatascience.net/usecases-auswahl/automated-portfolio-optimization-by-combining-ai-and-risk-methods/
- https://towardsdatascience.com/automating-portfolio-optimization-using-python-9f344b9380b9
- https://towardsdatascience.com/best-investment-portfolio-via-monte-carlo-simulation-in-python-53286f3fe93

In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

***Example 1***

Following the Markowitz model, we can formulate our problem as:

*Given a fixed quantity of money (say $1000), how much should we invest in each of the three stocks so as to (a) have a one month expected return of at least a given threshold, and (b) minimize the risk (variance) of the portfolio return.*

Assumptions:
 - We have \\$100 to invest.
 - Stocks have a fixed starting price. 
 - Time period is 1 month.
 - The monthly returns of a stock follow a normal distribution with average $mu$ and volatility $sigma$. 
 
***Stocks***

In [117]:
stocks = [ 
           {'n':0,
            'name':'jumanji inc',
            'price':10,
            'mu':0.1,
            'sigma':10},
           {'n':1,
            'name':'evolution ltd',
            'price':20,
            'mu':0.2,
            'sigma':20},
           {'n':2,
            'name':'Incredibles Inc',
            'price':30,
            'mu':0.3,
            'sigma':30}        
        ]
stocks_df = pd.DataFrame(stocks)
stocks_df

   n             name  price   mu  sigma
0  0      jumanji inc     10  0.1     10
1  1    evolution ltd     20  0.2     20
2  2  Incredibles Inc     30  0.3     30

***portfolio***

In [202]:
# total number of stocks in universe
N = len(stocks) 

# total to invest
investment = 10**3 

portfolios = list()
pmax=1000
for p in range(pmax):
    print(f'{p}/{pmax}',end='\r')
    # random portfolio size
    portfolio_size = np.random.randint(1, N+1) 

    # create a df portfolio of them
    df = stocks_df.iloc[np.random.choice(N, portfolio_size, replace=False)].copy()

    # sum numbers
    while True:
        df['value'] = np.random.random(portfolio_size)
        T = df['value'].sum()
        if T != 0: break

    # calculate normalised value and number of shares 
    df['value'] *= investment/T
    df['shares'] = df['value']/df['price']
    
    portfolios.append(df)

In [203]:
pd.concat(portfolios)

    n             name  price   mu  sigma        value      shares
2   2  Incredibles Inc     30  0.3     30  1000.000000   33.333333
2   2  Incredibles Inc     30  0.3     30  1000.000000   33.333333
0   0      jumanji inc     10  0.1     10   158.007065   15.800707
1   1    evolution ltd     20  0.2     20   217.520833   10.876042
2   2  Incredibles Inc     30  0.3     30   624.472102   20.815737
.. ..              ...    ...  ...    ...          ...         ...
1   1    evolution ltd     20  0.2     20   454.259567   22.712978
0   0      jumanji inc     10  0.1     10    53.221906    5.322191
0   0      jumanji inc     10  0.1     10  1000.000000  100.000000
2   2  Incredibles Inc     30  0.3     30   166.424490    5.547483
1   1    evolution ltd     20  0.2     20   833.575510   41.678775

[20099 rows x 7 columns]

In [182]:
def simulate_stocks(stocks,periods=1):
    returns = list()
    costs = list()
    for stock in stocks:
        cost = periods * stock['price']
        costs.append(cost)
        ret = np.random.normal(loc=stock['mu'],scale=stock['sigma'],size=periods)
        ret = ret.sum()
        returns.append(ret)
    return costs,returns

In [183]:
simulate_stocks(stocks)

([10, 20, 30], [19.706251489203673, 19.889173236649842, -15.378606422976286])

In [184]:
df

   n             name  price   mu  sigma   value     shares
2  2  Incredibles Inc     30  0.3     30  1000.0  33.333333

In [197]:
np.random.normal(0.3,30)*33.3

1101.169632498058

In [ ]:
# simple class to hold a portfolio of stocks


    
class Portfolio:
    def __init__(self,unitsA,unitsB):
        self.stockA = 
        
        self.stocks = [self.stockA,self.stockB]

In [ ]:
def simulate_unit(stock,plot=True):
    """Simulates 1 unit of stock for given time period in days"""
    results = dict()
    
    days = 365
    starting_price = stock['price']
    price = starting_price
    daily_price = list()
    for i in np.random.normal(stock['mu'],stock['sigma'],size=days):
        price = price*((i/100)+1)
        daily_price.append(price)

    profit = daily_price[-1]-starting_price
    results['prices'] = daily_price
    results['profit'] = profit=profit

    if plot:
        sns.lineplot(x=range(365),y=results['prices'], label=stock['name'])
    return results

***Scenario 1: invest equally amongst stocks ($500) each***

In [ ]:
p1 = Portfolio(4,1)
p1.stocks

In [ ]:
results = list()
for stock in p1.stocks:
    for unit in range(stock['units']):
        ui = simulate_unit(stock)
        results.append(ui['profit'])
        print(stock['name'],ui['profit'])
print(np.sum(results))

In [ ]:
1000+np.sum(results)